

.foregroundClouds {
  background: url('https: //c4.wallpaperflare.com/wallpaper/600/919/630/digital-art-illustration-lofi-hd-wallpaper-preview.jpg');
}

.midgroundClouds {
  background: url('https://i.pinimg.com/736x/cc/7b/19/cc7b1960f31b628beeba3c205a8ba98c.jpg');
}

.backgroundClouds {
  background: url('https://i.ytimg.com/vi/L_T0zQbfeWA/maxresdefault.jpg');
}